.createToDo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(42, 42, 42, 0.2) 0px 8px 24px;
    color: #f2e9e4;
    font-size: 20px;
    background-color: #e36414;
    cursor: pointer;
    transition: 300ms;
    transform: rotate(0);
    transition: .3s ease;
}

.createToDo:hover {
    transform: rotate(224deg);
    color: #fb8b24;
    background-color: #f2e9e4;
}