.toDoSearchContainer {
    width: 85%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #22223b;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
}

.toDoSearch { 
    width: 90%;
    height: 40px;
    border: none;
    color: #f2e9e4;
    background-color: #22223b;
    outline: none;
    font-size: 1.2rem;
}

.toDoSearchDisabled {
    background: linear-gradient(90deg, #22223b, #22223b88);
    background-size: 400% 400%;
    animation: loadingAnimation 1.5s ease-in-out infinite;
}
.toDoSearch:disabled {
    opacity: 0%;
}

.toDoSearch:disabled ~ .toDoSearchIcon {
    opacity: 25%;
}

.toDoSearch::placeholder {
    color: rgba(255, 255, 255, 0.561);;
    font-family: 'Nunito', sans-serif;
}

@keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }